<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.droptech.joselluch.meuequip">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/iconoinicio"
        android:label="@string/nombreApp"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:launchMode="singleTop"
            android:name=".meuEquip"
            android:label="@string/title_activity_inicio"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.droptech.joselluch.meuequip" />
        </activity>
        <activity android:name=".encuestas" android:launchMode="singleTop"/>
        <activity android:name=".ajustes" android:launchMode="singleTop"/>
        <activity android:name=".listaOpiniones" android:launchMode="singleTop"/>
        <activity android:name=".agradecimientos" android:launchMode="singleTop"/>
        <activity android:name=".opiniones" android:launchMode="singleTop"/>

        <receiver android:name=".ManagerNotication"
            android:process=":remote"
            android:exported="true"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>

        <service
            android:name=".NotificationIntentService"
            android:enabled="true"
            android:exported="false" />

        <receiver android:name=".NotificationEventReceiver" />
        <receiver android:name=".NotificationServiceStarterReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.TIME_SET" />
            </intent-filter>
        </receiver>

    </application>

</manifest>